/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
  height: 626px;
  background:linear-gradient(lightblue,pink,white);
}
button{
  border-radius: 42px;
  background-color: lightblue;
  width: 257px;
  height:59px;
 
}
.heads{
  text-shadow: 4px 4px aqua;
}
.func{
  position: relative;
  top:50px;
  left:315px;
}
.heading{
  text-align: center;
  padding:25px;
}
.class1{
  position: relative;
  top:50px;
  left:370px;
}
.box{
  border: 2px solid black;
  background-color: aqua;
  height:276px;
  width:497px;
  border-radius: 30px;
 
}
.ext{
  text-align: center;
}
.boxone{
  position:relative;
  top:145px;
  left:67px;
}
.boxtwo{
  position: absolute;
  top:241px;
  left:668px;
  background-color: rgb(156, 65, 156);
}
.func:hover{
  background-color: aqua;
}
.class1:hover{
  background-color: aqua;
}
